<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/aboutme.css">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=VT323&display=swap" rel="stylesheet">
    <title>About me</title>
</head>
<body>
    <main>
        <div class="presentation-container">
            <div class="img-items">
                <h2>Jackson Florez - Riwi Developer</h2>
                <img src="../static/img/yo.jpeg" alt="">
                <p>Hi <mark>I'm Jackson Florez</mark>, I am starting to learn Web design in Riwi, and I'm so excited for that.</p>
            </div>
            
        </div>
    </main>
</body>
</html>