<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/experience.css">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=VT323&display=swap" rel="stylesheet">
    <title>Experience</title>
</head>
<body>
    <main>
        <article class="experience" id="experience">
            <h1>Experience</h1>
            <p class="text-title">During my time studying web development I have learned some programming languages like:</p>
            <figure>
                <div class="imgs">
                    <img src="../static/img/HTML5.png" alt="HTML">
                    <img src="../static/img/CSS3.png" alt="CSS">
                    <img src="../static/img/JavaScript.png" alt="JavaScript">
                    <img src="../static/img/Vue.js.png" alt="Bootstrap">                                                                                    
                    <img src="../static/img/NPM.png" alt="NPM">
                    <img src="../static/img/Node.js.png" alt="">
                    <img src="../static/img/express-white.png" alt="">
                    <img src="../static/img/SQLite.png" alt="SQLite">
                    <img src="../static/img/Python.png" alt="Git">
                    <img src="../static/img/Git.png" alt="Canva">
                    <img src="../static/img/octocat.png" alt="GitHub">
                </div>
            </figure>
        </article>
    </main>
</body>
</html>