<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/projects.css">
    <title>Projects</title>
</head>
<body>
    <div class="projects" id="projects">
        <h1>Projects</h1>
        <article>
            <div>
                <a href="https://jacksonpirlo.github.io/GreenGables/" target="_blank">
                    <img class="img-with" src="../static/img/project.png" alt="Project Image" width="300px">
                </a>
            </div>
        </article>
        <table>
            <tr>
                <th>Project Name</th>
                <th>Technologies Used</th>
                <th>Link</th>
            </tr>
            <tr>
                <td>Green Gables</td>
                <td>HTML, CSS, JavaScript, Bootstrap</td>
                <td><a href="https://jacksonpirlo.github.io/GreenGables/" target="_blank">Link to Green Gables</a></td>
            </tr>
            <tr>
                <td>Caja Fuerte</td>
                <td>HTML, CSS, JavaScript, VueJS, Bootstrap</td>
                <td><a href="https://jacksonpirlo.github.io/Caja-fuerte/" target="_blank">Link to Caja Fuerte</a></td>
            </tr>
            <tr>
                <td>Portfolio With GTA San Andreas</td>
                <td>HTML, CSS, JavaScript, VueJS, Bootstrap</td>
                <td><a href="https://jacksonpirlo.github.io/Portafolio_v2/" target="_blank">Link to Portfolio</a></td>
            </tr>
            <tr class="td_links">
                <td>Login</td>
                <td>HTML, CSS, PHP</td>
                <td><a href="https://github.com/Jacksonpirlo/Registro-php-sql" target="_blank">Link to Login</a></td>
            </tr>
        </table>
        <output class="extra-output">Projects successfully loaded</output>
    </div>
</body>
</html>